<h2><%= @entry.title %></h2>
<p><%= @entry.date %></p>
<p><%= @entry.contents %></p>
<br>
<p><%= link_to("[*] Edit this entry", edit_entry_path(@entry)) %></p>
<hr>
<p><%= link_to("Back to all entries", entries_path) %></p>